div #content2{
	margin: 0 auto;
	margin-bottom: 1%;
	background-color: #BA9C0B;
	text-align: center;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	font-size: 150%;
}

div #outer{
	display: table;
	text-align: center;
}
#resultDiv{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

 #resultDiv small{
	margin-right: 4px;
	cursor: alias;
 }

 .gridView .panel-title{
	 height:2em;
	 overflow:hidden;
 }

 #linkUpload{
 margin: 0 auto;
 }

#listGridDiv{
	text-align: right;
	position: relative;
	top: -12px;
	line-height: 0px;
}

.glyphicon:hover{
	cursor: pointer;
	-webkit-transform: scale(1.5,1.5);
	transition: 0.65s ease;
}
.glyphicon-search{
	top: -0.5px;
}
.glyphicon-search:hover{
	-webkit-transform: scale(1.0,1.0);
	
}
.gridView.singleResultDiv {
	width: 33%;
	display: inline-table;
}

.gridView.panel-body{
	height: 150px;
	overflow-y: auto;
}
.gridView img{
	max-width: 100%;
}
.listView img {
	max-height: 200px;
}

#resultDiv .glyphicon{
	position:relative;
	top:-5px;
	margin: 0 2px;
	float:right;
}

#dropzoneSettings{
	text-align: right;
	position: relative;
	top: -15px;
	line-height: 0px;
}
 
.featurette-divider{
	width: 100%;
}
