@(message: String)

@main("Welcome to DocDB") {
<div class="container">

	<div class="jumbotron" style="padding-top: 10px;">
	<a href=""><img src="assets/images/logo.png" style="margin: 0 45%;"></a>
		<script>

			if(typeof localStorage["oldTags"] == 'undefined')
				localStorage["oldTags"]="";
			if(typeof localStorage["oldSearch"] == 'undefined')
				localStorage["oldSearch"]="";
			if(typeof localStorage["numberOfDropzones"] == 'undefined')
				localStorage["numberOfDropzones"] = 1;

			for(i = 0; i < 3; i++) {
				if(typeof localStorage["color"+i] == 'undefined')
					localStorage["color"+i] = getRandomColor();
			}
			Dropzone.autoDiscover = false;
			var tag = [];
			var numberOfDropzones = localStorage["numberOfDropzones"];
			for (i = 0; i <= 2; i++) {
				if(typeof localStorage[i] != 'undefined')
					tag[i] = localStorage[i];
				else
					tag[i] = "file";
				if( localStorage["oldTags"] == "")
					addAutoComp(tag[i], 'oldTags');
			}

			$(function() {
				var temp = localStorage["oldTags"];
				var temp2 = localStorage["oldSearch"];
				var availableTags = [];
				var availableSearch = [];
					if(temp != null)
						availableTags = temp.split(",");
					if(temp2 != null)
						availableSearch = temp2.split(",");
					$( "#0" ).autocomplete({
					  source: availableTags
					});
					$( "#1" ).autocomplete({
					  source: availableTags
					});
					$( "#2" ).autocomplete({
					  source: availableTags
					});
					$( "#search" ).autocomplete({
					  source: availableSearch
					});
				  });
				  String.prototype.endsWith = function(suffix) {
						return this.indexOf(suffix, this.length - suffix.length) !== -1;
					};
			</script>

	<h2 style="margin-top: 0px;">Search</h2>
		<div id="geoLoc" style="display:none;"></div>
		<div id="content1">
			<div id="listGridDiv"><span class="glyphicon glyphicon-th-large" onclick="changeToGrid()"></span> <span class="glyphicon glyphicon-list" onclick="changeToList()"></span></div>
				<div class="input-group">
					<input type="text" id="search" onkeydown="checkKey('search');" class="form-control" placeholder="Search">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
				</div>
				<div id="resultDiv" style="display:none;" ng-app="searchRes" ng-controller="searchController" class="list-group">
					<div ng-repeat="result in results track by $index" class="singleResultDiv gridable">
						<span class="list-group-item">
							<div class="panel panel-primary" data-link={{result.link}} data-file={{result.file}} data-lat={{result.lat}} data-lng={{result.lng}}>
								<div class="panel-heading" data-toggle="modal" data-target="#previewModal">
									<span class="badge" style="float: right;">{{result.size}}kB</span>
									<h3 class="panel-title" title={{result.file}} >{{result.file}}</h3>
								</div>
								<div class="panel-body gridable">
									<a href={{"Download/"+result.link}}>
										<span title="download" class="glyphicon glyphicon-download downloadIcon"></span>
									</a>
									<a href={{"Preview/"+result.link}} target="_blank">
										<span title="open" class="glyphicon glyphicon-eye-open downloadIcon"></span>
									</a>
									<span ng-bind-html="result.context | unsafe" data-toggle="modal" data-target="#previewModal"></span>
									<img ng-if="result.link.toLowerCase().endsWith('.jpg')||result.link.toLowerCase().endsWith('.png')||result.link.toLowerCase().endsWith('.gif')" src={{"Preview/"+result.link}} data-toggle="modal" data-target="#previewModal"></img>
								</div>
								<div class="panel-footer">
									<span ng-repeat="tag in result.tags track by $index"><small class="label label-info" >#{{tag}}</small> </span>
								</div>
							</div>
						</span>
					</div>

					<button style="display:none;" id="newSearch" type="button" onclick="newSearch()" class="btn btn-default btn-lg btn-block">Show all results </button>
					<div id="tagsFound" class="list-group-item" style="padding: 15px 100px;">

						<span ng-repeat="tag in tags track by $index"><small class="label label-info" >#{{tag}}</small> </span>
					</div>
					<div id="resCount" ></div>
			</div>
		</div>

		<hr class="featurette-divider">
		<div class="jumbotron">
			<h2>Drop files via link</h2>
				<div id="content3">
					<input type="text" class="form-control" id="linkUpload" placeholder="Put Your link here">
				</div>
		</div>
		<hr class="featurette-divider">
<!-- This is used as the file preview template -->
	<div id="template" class="file-row">
        <div>
            <span class="preview"><img data-dz-thumbnail /></span>
        </div>
        <div>
            <p class="name" data-dz-name></p>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
    </div>
<!-------------------PREVIEW MODAL----------------------->

			<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="FilePreview" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title" id="previewModalTitle"></h4>
							<a title="download" id="previewModalDownload">
								<span class="glyphicon glyphicon-download downloadIcon"></span>
							</a>
							<a title="open" id="previewModalPreview" target="_blank">
								<span class="glyphicon glyphicon-eye-open downloadIcon"></span>
							</a>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

						</div>
						<div class="modal-body" id="previewModalBody">

						</div>
						<div class="modal-footer" id="previewModalFooter">
							<div id='map-canvas' style='height: 150px;width: 200px;float: left;'></div>
							<span id="previewModalTags"></span>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>




<!---------------------DROPZONE MODAL--------------------->
	<div class="jumbotron" style="margin-top: auto;">

		<h2>Drop files</h2>

			<div id="dropzoneSettings"><span type="button" class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#myModal"></span></div>
			<!-- Button trigger modal -->

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Dropzones settings</h4>
						</div>
						<script>
						$(function() {
							$(dropzoneNumber).val(numberOfDropzones);
						});
						</script>
						<div class="modal-body">
							Number of dropzones:
							<select name="selectDrop" id="dropzoneNumber" onchange="" size="1">
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
							</br>
							Choose colors of dropzones: </br>

								#1  <input type='text' id="color0" class='override' value='' >
								</br>
								#2  <input type='text' id="color1" class='override' value='' />
								</br>
								#3  <input type='text' id="color2" class='override' value='' />

							<script>
								$("#color0").spectrum({
									color: localStorage["color0"]
								});
								$("#color1").spectrum({
									color: localStorage["color1"]
								});
								$("#color2").spectrum({
									color: localStorage["color2"]
								});
							</script>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

							<button type="button" onclick="changeDropzones(document.getElementById('dropzoneNumber').value, document.getElementById('color0').value, document.getElementById('color1').value, document.getElementById('color2').value)"  class="btn btn-primary" data-dismiss="modal">Save changes</button>
						</div>
					</div>
				</div>
			</div>


			<div id="content2">
				<input type="text" class="form-control" style="display:none; margin: 0 auto;" id="text0" placeholder="Put Your tags here" onkeydown="checkKey('0');">
				<div method="POST" id="dropzone0" style="display:none; overflow-y:auto; height: 200px;" action="@routes.Application.upload("tag[0]")" enctype="multipart/form-data" class="dropzone"></div>

				<input type="text" class="form-control" style="display:none; margin: 0 auto;" id="text1" placeholder="Put Your tags here" onkeydown="checkKey('1');">
				<div method="POST" id="dropzone1" style="display:none; overflow-y:auto; height: 200px;" action="@routes.Application.upload("tag[1]")" enctype="multipart/form-data" class="dropzone"></div>

				<input type="text" class="form-control" class="ui-widget" style="display:none; margin: 0 auto;" id="text2" placeholder="Put Your tags here" onkeydown="checkKey('2');">
				<div method="POST" id="dropzone2" style="display:none; overflow-y:auto; height: 200px;" action="@routes.Application.upload("tag[2]")" enctype="multipart/form-data" class="dropzone"></div>
			</div>
	</div>
	<hr class="featurette-divider">
	<div style="text-align:center;">Drag <a href='javascript:(function(){var xmlhttp=new XMLHttpRequest();xmlhttp.open("POST","http://185.5.97.71:9000/takeLink/bookmarked,"+prompt("Any tags?"),true);xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");xmlhttp.send("link="+window.location.href);})();'>this link</a> to your favorites bar, and add any website to DocDB with just 1 click!</div>

	<hr class="featurette-divider">
	<footer class="footer" style="text-align: center;">

		<a href="#">Back to top</a>

    </footer>
</div>
</div>
<script>
		var previewNode = document.querySelector("#template");
		previewNode.id = "";
		var previewTemplate = previewNode.parentNode.innerHTML;
		previewNode.parentNode.removeChild(previewNode);
		var dropzoneArray = [];
		for (k = 0; k < numberOfDropzones; k++) {
			defineDropzone('div#dropzone'+k, k);
		}

		function defineDropzone(name, id){
			document.getElementById("dropzone"+id).style.backgroundColor = $("#color"+id).spectrum("get").toHexString();

			document.getElementById("dropzone"+id).style.display='inline-block';
			document.getElementById("text"+id).style.display='inline-block';

			document.getElementById("dropzone"+id).style.fontSize='400%';
			document.getElementById("dropzone"+id).style.width=100-5*id+"%";
			document.getElementById("text"+id).style.width=100-5*id+"%";

			dropzoneArray[id] = new Dropzone(name, {
				dictDefaultMessage: "#"+tag[id]
			});
			dropzoneArray[id].on("processing", function(file) {
				document.getElementById("dropzone"+id).style.fontSize='150%';
				if( isPic(file.type) == true )
					dropzoneArray[id].options.previewTemplate = previewTemplate;
				else{
					dropzoneArray[id].emit("thumbnail", file, "/assets/images/thumbnail_"+getFileType(file.type));
				}
				temp = getTags(id);
				temp = removeDup(temp);
				for(i = numberOfDropzones - 1; i >= 0; i--)
					tag[id] += ", "+tag[i];
				tagArray = removeDup(tag[id].split(", "));
				dropzoneArray[id].options.url = "upload/"+tagArray.toString()+","+temp + "`" + lat + " " + lng;
			});

		}

		Dropzone.autoDiscover = true;
		//angular


		var commentApp = angular.module('searchRes', []);
		commentApp.filter('unsafe', function($sce) {
			return function(val) {
				return $sce.trustAsHtml(val);
			};
		});
	function searchController($scope){}

</script>
}
