@(message: String)

@main("Welcome to DocDB") {
<div class="container">

	<div class="jumbotron">
		<script>


			Dropzone.autoDiscover = false;
			var tag = []
			for (i = 0; i <= 2; i++) {
				if( typeof localStorage[i] != 'undefined')
					tag[i] = localStorage[i];
				else
					tag[i] = "file";
				if( typeof localStorage["oldTags"] != 'undefined')
					addTags(tag[i]);
			}

			$(function() {
				var temp = localStorage["oldTags"];
				var oldTagsArray = [];
				var availableTags = [];
					if(temp != null)
						availableTags = temp.split(",");
					$( "#0" ).autocomplete({
					  source: availableTags
					});
					$( "#1" ).autocomplete({
					  source: availableTags
					});
					$( "#2" ).autocomplete({
					  source: availableTags
					});
				  });
			</script>
	<h2>Search</h2>
		<div id="geoLoc" style=" visibility: hidden;" ></div>
		<div id="content1">
			<div class="input-group">
				<input type="text" id="search" class="form-control" placeholder="Search">
				<span class="input-group-addon glyphicon glyphicon-search"></span>
			</div>

			<div id="resultDiv" ng-app="searchRes" ng-controller="searchController" class="list-group">
				<div ng-repeat="result in results track by $index" ><a href={{result.link}} class="list-group-item">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span class="badge" style="float: right;">{{result.size}}kB</span>
							<h3 class="panel-title">{{result.file}}</h3>
						</div>

						<div class="panel-body">
							<span style="float:right;" class="glyphicon glyphicon-download"></span>
							<span ng-bind-html="result.context | unsafe"></span>
						</div>
						<div class="panel-footer">
							<small ng-repeat="tag in result.tags track by $index" class="label label-info" >#{{tag}}</small>
						</div>
					</div>
				</a>
				<div ng-if="$last == true" id="resCount" >
				</div>
				<div ng-if="$last == true && $index == 9">
						<button id="newSearch" type="button" onclick="newSearch()" class="btn btn-default btn-lg btn-block">Show all result </button>

				</div>

			</div>
		</div>
	</div>

		<div class="jumbotron">
			<h2>Drop files via link</h2>
				<div id="content3">
					<input type="text" class="form-control" style=" margin: 0 auto;" id="link" placeholder="Put Your link here" onkeydown="checkKey('link');">
				</div>
		</div>

	<div class="jumbotron">
		<h2>Drop files</h2>
			<div id="content2">
				<input type="text" class="form-control" style=" margin: 0 auto;" id="0" placeholder="Put Your tags here" onkeydown="checkKey('0');">
				<form method="POST" id="dropzone1" action="@routes.Application.upload("tag[0]")" enctype="multipart/form-data" class="dropzone"></form>

				<input type="text" class="form-control" style="margin: 0 auto;" id="1" placeholder="Put Your tags here" onkeydown="checkKey('1');">
				<form method="POST" id="dropzone2" action="@routes.Application.upload("tag[1]")" enctype="multipart/form-data" class="dropzone"></form>

				<input type="text" class="form-control" class="ui-widget" style=" margin: 0 auto;" id="2" placeholder="Put Your tags here" onkeydown="checkKey('2');">
				<form method="POST" id="dropzone3" action="@routes.Application.upload("tag[2]")" enctype="multipart/form-data" class="dropzone"></form>
			</div>
	</div>
</div>

<script>
		Dropzone.options.dropzone1 = {
			dictDefaultMessage: tag[0],
			init: function() {
				this.on("processing", function(file) {
					var temp = document.getElementById('geoLoc').innerHTML;
					var arr = temp.split(",");
					temp = tag[0].replace('#','');
					arr.push(temp);
					this.options.url = "upload/"+arr;
				});
			}
		};
		Dropzone.options.dropzone2 = {
			dictDefaultMessage: tag[1],
			init: function() {
				this.on("processing", function(file) {
					var temp = document.getElementById('geoLoc').innerHTML;
					var arr = temp.split(",");
					temp = tag[1].replace('#','');
					arr.push(temp);
					this.options.url = "upload/"+arr;
				});
			}
		};
		Dropzone.options.dropzone3 = {
			dictDefaultMessage: tag[2],
			init: function() {
				this.on("processing", function(file) {
					var temp = document.getElementById('geoLoc').innerHTML;
					var arr = temp.split(",");
					temp = tag[2].replace('#','');
					arr.push(temp);
					this.options.url = "upload/"+arr;
				});
			}
		};
		Dropzone.autoDiscover = true;
		var commentApp = angular.module('searchRes', []);
		commentApp.filter('unsafe', function($sce) {
			return function(val) {
				return $sce.trustAsHtml(val);
			};
		});
	function searchController($scope){}
</script>
}