@(message: String)

@main("Welcome to DocDB") {


<div class="container">

<div class="jumbotron">
<h2>Search</h2>
	<div id="content1">
		<div class="input-group">
		  <input type="text" id="search" class="form-control" placeholder="Search">
		  <span class="input-group-addon glyphicon glyphicon-search"></span>
		</div>



		<div id="resultDiv" ng-app="searchRes" ng-controller="searchController" class="list-group">
			<a ng-repeat="result in results track by $index" href={{result.link}} class="list-group-item">


				<div class="panel panel-primary">
					<div class="panel-heading">
						<span class="badge" style="float: right;">{{result.size}}kB</span>
						<h3 class="panel-title">{{result.file}}</h3>
					</div>
					<div class="panel-body">
						<span style="float:right;" class="glyphicon glyphicon-download"></span>
						<span ng-bind-html="result.context | unsafe"></span>
					</div>
					<div class="panel-footer"><small>{{result.tags}}</small></div>
				</div>


			</a>
		</div>
	</div>
</div>


<div class="jumbotron">
	<h2>Drop files</h2>
	<div id="content2">
		<form method="POST" id="notagdz" class="dropzone" action="@routes.Application.upload("notag")" enctype="multipart/form-data">
		</form>
	</div>
</div>
</div>


<script>
var tags = "notag";

	Dropzone.options.notagdz = {
	  init: function() {
		this.on("processing", function(file) {
		  this.options.url = "upload/"+tags;
		});
	  }
	};


var commentApp = angular.module('searchRes', []);
commentApp.filter('unsafe', function($sce) {
    return function(val) {
        return $sce.trustAsHtml(val);
    };
});

	function searchController($scope){
		/*$scope.results=[
		{file:"a.txt", size:"3", link:"@routes.Application.getFile("a.txt")"},
		{file:"b.doc", size:"0.5", link:"@routes.Application.getFile("b.doc")"},
		{file:"c.xml", size:"6", link:"@routes.Application.getFile("c.xml")"},
		{file:"d.pdf", size:"3", link:"@routes.Application.getFile("d.pdf")"},
		];*/
	}
</script>
}
