@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/basic.css">
		<link rel='stylesheet' href='/assets/javascripts/spectrum.css'>


		<script src="/assets/javascripts/scripts.js"></script>
		<script src="/assets/javascripts/dropzone.js"></script>
		<script src='/assets/javascripts/spectrum.js'></script>
		<script src='/assets/javascripts/tinycolor.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<!-- Latest Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" charset="utf-8" src="@routes.Application.SearchScript()"></script>

		<script type="text/javascript" charset="utf-8" src='@routes.Assets.at("javascripts/previewScript.js")'></script>
		<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<style>
		body{overflow-y: scroll;}
		</style>

    </head>
    <body>
        @content
    </body>
</html>
